#body { background-color:#badcad;}
#ooya { width : 150px;
        height : 60px;}
#heya { width : 150px;
           height : 60px;}
#ue ul{
	list-style-type : none;
  display : flex;
  row-gap : 30px;}