#kao1 { width:350px;
        height:260px;}
#kao2 { width:350px;
        height:260px;}
#timer {
  width:270px;
  height:270;
}
#man1 { width:210px;
        height:210px;}
#man2 { width:210px;
        height:210px}
#uehe {
  text-align:right;
  font-size:large;
}